<footer class="footer__container">
  <div class="footer__content">
    <nav class="footer__nav">
      <a href="#home" class="footer__link">Home</a>
      <a href="#sobre" class="footer__link">Sobre</a>
      <a href="#certificados" class="footer__link">Habilidades</a>
      <a href="#projects" class="footer__link">Projetos</a>
      <a href="#contato" class="footer__link">Contato</a>
    </nav>

    <div class="footer__info">
      <p class="footer__copyright">© {{ currentYear }} Douglas Leonardo. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
