<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfólio Profissional</title>
</head>

<body>
  <app-particulas></app-particulas>

  <app-header></app-header>

  <app-home-section></app-home-section>

  <app-about-section></app-about-section>

  <app-certificates-section></app-certificates-section>

  <app-project-section></app-project-section>

  <app-contact-section></app-contact-section>

  <app-footer></app-footer>
</body>

</html>
