<section class="about-section" id="sobre">
  <div class="about-section__bg-effect"></div>

  <div class="about-section__container">
    <div class="about-section__header">
      <h2 class="about-section__title">{{ translations?.about?.title }}</h2>
      <p class="about-section__tagline">{{ translations?.about?.tagline }}</p>
    </div>

    <div class="about-section__content">
      <div class="about-section__intro">
        <div class="about-section__avatar">
          <img src="assets/images/icons/douglasFoto.jpg" alt="Douglas Leonardo" class="about-section__avatar-img">
          <div class="about-section__avatar-placeholder">
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="about-section__bio">
          <p>{{ translations?.about?.bio1 }}</p>
          <div class="about-section__highlight">
            <i class="fas fa-quote-left"></i>
            <p>{{ translations?.about?.quote }}</p>
          </div>
        </div>
      </div>

      <div class="about-section__timeline">
        <div class="about-section__timeline-item" *ngFor="let item of timelineItems">
          <div class="about-section__timeline-year">{{ item.year[currentLanguage] }}</div>
          <div class="about-section__timeline-dot"></div>
          <div class="about-section__timeline-content">
            <h3>{{ item.title[currentLanguage] }}</h3>
            <p>{{ item.description[currentLanguage] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
