body{
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Garante que o body e html tenham scroll */
html, body {
  height: 100%;
  overflow-y: auto;
}

/* Garante que o body e html tenham scroll */
html, body {
  height: 100%;
  overflow-y: auto;
}
