body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  overflow-y: auto;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  background-color: rgb(31, 31, 31);
  padding: 15px 0;
  box-shadow: 0 2px 4px #f8f9fa3d;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1.5rem;
  color: #ffffff;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #28a745;
}

.nav-link {
  position: relative;
  padding: 5px 0;
  transition: color 0.2s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #28a745;
  transition: width 1.0s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.hero {
  background-color: rgb(15, 15, 15);
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
}

.about {
  padding: 100px 0;
  background-color: rgb(31, 31, 31);
}

.about h2 {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.about p {
  font-size: 1.1rem;
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.skills {
  padding: 100px 0;
  background-color: rgb(15, 15, 15);
}

.skills h2 {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.skill {
  background-color: rgb(31, 31, 31);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill h3 {
  font-size: 1.2rem;
  color: #28a745;
  margin-bottom: 10px;
}

.skill p {
  font-size: 1rem;
  color: #ffffff;
}

.projects {
  padding: 100px 0;
  background-color: rgb(31, 31, 31);
}

.projects h2 {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.project {
  background-color: rgb(15, 15, 15);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-10px);
}

.project h3 {
  font-size: 1.2rem;
  color: #28a745;
  margin-bottom: 10px;
}

.project p {
  font-size: 1rem;
  color: #ffffff;
}

.contact {
  padding: 100px 0;
  background-color: rgb(15, 15, 15);
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact a {
  color: #28a745;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
  position: relative;
  padding: 5px 0;
  transition: opacity color 0.2s ease;
}

.contact a:hover {
  opacity: 0.8;
}

.contact a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #28a745;
  transition: width 1.0s ease;
}

.contact a:hover::after {
  width: 100%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Estilos gerais */
.slider {
  position: relative;
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgb(31, 31, 31);
  padding: 20px;
  margin: 0 auto;
  touch-action: pan-y; /* Permite o gesto de swipe vertical */
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px;
  width: 100%;
  touch-action: pan-y; /* Permite o gesto de swipe vertical */
}

.slide {
  position: absolute;
  width: 22%;
  height: 90%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.slide h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.slide p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.certificate-link {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.certificate-link:hover {
  background-color: #0056b3;
}

.slide.active {
  transform: translateX(0%) scale(1);
  opacity: 1;
  z-index: 2;
}

.slide.left {
  transform: translateX(-100%) scale(0.8);
  opacity: 0.7;
  z-index: 1;
}

.slide.right {
  transform: translateX(100%) scale(0.8);
  opacity: 0.7;
  z-index: 1;
}

.slide.hidden {
  transform: translateX(0%) scale(0);
  opacity: 0;
  z-index: 0;
}

.prev {
  left: 80px;
}

.next {
  right: 80px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #000;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 48px;
  z-index: 10;
  transition: color 0.3s ease;
}

.prev:hover,
.next:hover {
  color: #28a745;
}
